@import "fonts/fonts.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  direction: rtl;
  font-family: "Vazirmatn VF", "primeicons", sans-serif;
  text-align: center;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.25s,
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  padding: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  max-width: 1280px;
  font-weight: normal;
}
